body{background-color: #1772b8;
color: #0c93a8;
font-size: 48px;   
} 
h1{
    color: rgb(240, 255, 32);
}
p{
    color: rgb(255, 255, 255);
}
div{
    background-color: rgb(12, 206, 255);
    padding: 20px;
    border-style: dotted;
    border-color: darkkhaki;
    margin: 20px;
    margin-left: auto;
    border-radius: 20px;

}


img{
    border-radius: 60px;

}
