.container
{
    display: flex;

    background-color: rgba(0, 49, 148, 0.599);
    flex-direction: column;
    flex-wrap: wrap; 
}
.container div
{
    background-color: rgb(255, 255, 255);
    margin:  10px;
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 600px)
{
    .container
    {
        flex-direction: column;
    }
}
    
